Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
NET fpga_0_clk_1_sys_clk_pin LOC="T9";
NET fpga_0_rst_1_sys_rst_pin LOC="L14";
NET "running_leds_GPIO_IO_pin<0>" 	LOC = "K12";
NET "running_leds_GPIO_IO_pin<1>" 	LOC = "P14";
NET "running_leds_GPIO_IO_pin<2>" 	LOC = "L12";
NET "running_leds_GPIO_IO_pin<3>" 	LOC = "N14";
NET "running_leds_GPIO_IO_pin<4>" 	LOC = "P13";
NET "running_leds_GPIO_IO_pin<5>" 	LOC = "N12";
NET "running_leds_GPIO_IO_pin<6>" 	LOC = "P12";
NET "running_leds_GPIO_IO_pin<7>" 	LOC = "P11";